@model IEnumerable<Product>
@section Scripts {

    <script src="~/js/product.js"></script>

}
<h3>Product List</h3>

<button class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#productModal">
    Add Product
</button>

<table id="productTable" class="table table-bordered">

    <thead>
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Category</th>
            <th>Qty</th>
            <th>Supplier</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProductCode</td>
                <td>@item.ProductName</td>
                <td>@item.Category</td>
                <td>@item.QtyOnHand</td>
                <td>@item.Supplier</td>

                <td>
                    <button class="btn btn-warning btn-sm">Edit</button>
                    <button class="btn btn-danger btn-sm">Delete</button>
                </td>

            </tr>
        }

    </tbody>

</table>

<div class="modal fade" id="productModal">

    <div class="modal-dialog modal-lg">

        <div class="modal-content">

            <div class="modal-header">
                <h5>Add Product</h5>
            </div>

            <div class="modal-body">

                <form asp-action="Create" method="post">

                    <div class="row">

                        <div class="col-md-6">
                            <label>Product Code</label>
                            <input name="ProductCode" class="form-control" />
                        </div>

                        <div class="col-md-6">
                            <label>Barcode</label>
                            <input name="Barcode" class="form-control" />
                        </div>

                        <div class="col-md-6">
                            <label>Product Name</label>
                            <input name="ProductName" class="form-control" />
                        </div>

                        <div class="col-md-6">
                            <label>Product Name KH</label>
                            <input name="ProductNameKH" class="form-control" />
                        </div>

                        <div class="col-md-6">
                            <label>Category</label>
                            <input name="Category" class="form-control" />
                        </div>

                        <div class="col-md-6">
                            <label>Supplier</label>
                            <input name="Supplier" class="form-control" />
                        </div>

                        <div class="col-md-6">
                            <label>Qty On Hand</label>
                            <input name="QtyOnHand" class="form-control" />
                        </div>

                        <div class="col-md-6">
                            <label>Qty Alert</label>
                            <input name="QtyAlert" class="form-control" />
                        </div>

                    </div>

                    <br>

                    <button type="submit" class="btn btn-success">
                        Save Product
                    </button>

                </form>

            </div>

        </div>

    </div>

</div>