@model POS_ASP_ORA.Models.POSScreenModel
@inject IConfiguration Configuration
<link rel="stylesheet" href="~/css/posscreen.css" />

@section Scripts {
    <script src="~/js/posscreen.js" asp-append-version="true"></script>
}


<div class="pos-container">

    <!-- LEFT: PRODUCTS -->
    <div class="products-section">

        <!-- Tabs -->
        <div class="tabs">
            <button class="active" onclick="filterCategory(0)">All</button>

            @foreach (var cat in Model.Categories)
            {
                <button onclick="filterCategory(@cat.Id)">
                    @cat.CategoryName
                </button>
            }
        </div>
        <hr />
        <!-- Product Grid -->
        <div class="product-grid">
            @foreach (var item in Model.Products)
            {
                <div class="product-card" data-category="@item.CategoryId">
                    <img src="@(string.IsNullOrEmpty(item.ImageName)
                             ? "/images/no-image.png"
                              : @Model.ImageBasePath +"/"+item.ImageName)" />
                    <h5>@item.ProductNameKh</h5>
                    <h6>@item.ProductName</h6>
                    <p class="price">@item.Price @item.Currency</p>
                    <!-- ICON BUY BUTTON -->
                    <button class="buy-icon" onclick="addToCart(@item.Id, '@item.ProductNameKh',@item.Price, '@item.Currency')">
                        <i class="fa fa-shopping-cart"></i>
                    </button>
                </div>
            }
        </div>
        <hr />
        <!-- Bottom Table -->
        <div class="cart-table">
            <table>
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Qty</th>
                        <th>Price</th>
                        <th>Total</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="cartItems"></tbody>
            </table>

            

            <div class="actions">
                <button>Clear Cart</button>
                <button>Hold</button>
                <button>Cancel Sale</button>
                <button>Print</button>
                <button class="pay">Pay</button>
            </div>
        </div>

    </div>

    <!-- RIGHT: CART SUMMARY -->
    <div class="cart-section">
        <h4>Cart</h4>

        <div id="cartSummary"></div>

        <div class="totals">
            <p>Subtotal: <span id="subtotal">$0.00</span></p>
            <p>Discount: $0.00</p>
            <h3>Total: <span id="total">$0.00</span></h3>
        </div>

        <div class="payment">
            <label>Customer Payment</label>
            <input type="number" id="paymentInput" value="0" onkeyup="calculateChange()" />

            <p>Change: <span id="change">$0.00</span></p>

            <div class="methods">
                <label><input type="radio" name="method" checked /> Cash</label>
                <label><input type="radio" name="method" /> ABA</label>
                <label><input type="radio" name="method" /> Credit Card</label>
            </div>
        </div>

        <button class="pay-btn">Pay</button>
    </div>

</div>